---
import Layout from '../../layouts/Layout.astro';
---
<Layout title="Τεχνητή Νοημοσύνη για Παιδιά - Xperia.gr">
  <h1 class="text-4xl font-orbitron font-bold mb-8 text-electric-cyan">ΤΝ για Παιδιά</h1>
  <p class="text-cyber-grey">Δραστηριότητες, παιχνίδια και απλές εξηγήσεις για την Τεχνητή Νοημοσύνη, ειδικά σχεδιασμένα για παιδιά και γονείς.</p>
</Layout>
