---
import Layout from '../../layouts/Layout.astro';
---
<Layout title="Μάθε για την Τεχνητή Νοημοσύνη - Xperia.gr">
  <div class="container mx-auto px-4">
    <h1 class="text-4xl font-orbitron font-bold mb-8 text-electric-cyan">Μάθε για την Τεχνητή Νοημοσύνη</h1>
    <p class="text-cyber-grey">Σε αυτή τη σελίδα θα βρεις άρθρα, οδηγούς και παραδείγματα χρήσης της ΤΝ στα ελληνικά.</p>
  </div>
</Layout>
