---
import Layout from '../../layouts/Layout.astro';
---
<Layout title="Νέα - Xperia.gr">
  <h1 class="text-4xl font-orbitron font-bold mb-8 text-electric-cyan">Νέα Τεχνητής Νοημοσύνης</h1>
  <p class="text-cyber-grey">Εδώ θα εμφανίζονται σύντομα σύντομα νέα και ενημερώσεις γύρω από την Τεχνητή Νοημοσύνη, προσαρμοσμένα για το ελληνικό κοινό.</p>
</Layout>
