---
import Layout from '../../layouts/Layout.astro';
---
<Layout title="Εργαστήρια - Xperia.gr">
  <h1 class="text-4xl font-orbitron font-bold mb-8 text-electric-cyan">Εργαστήρια Τεχνητής Νοημοσύνης</h1>
  <p class="text-cyber-grey">Σύντομα θα δεις εδώ δια ζώσης και online εργαστήρια για μαθητές, γονείς και επαγγελματίες, στα ελληνικά.</p>
</Layout>
