---
import Layout from '../layouts/Layout.astro';
---
<Layout title="News - Xperia.gr">
  <h1 class="text-4xl font-orbitron font-bold mb-8 text-electric-cyan">News Hub</h1>
  <p>Coming soon...</p>
</Layout>
